@page "/login"
@using Services.OpenIddict
@inject NavigationManager Navigation
@inject IOpenIddictService OpenIddictService

<div style="display:flex; justify-content:center; align-items:center; height:100vh; padding:20px;"
     hidden="@(!isVisible)">
    <button @onclick="ExecuteLoginAsync" style="font-weight:bold; width:100%;">Login</button>
</div>

@code {
    private bool isVisible = true;

    protected override async Task OnInitializedAsync()
    {
        if (await OpenIddictService.IsUserLoggedInAsync())
        {
            Navigation.NavigateTo("/", true);
        }
    }

    private async Task ExecuteLoginAsync()
    {
        isVisible = false;
        if (await OpenIddictService.AuthenticationSuccessful())
        {
            isVisible = true;
            if (await OpenIddictService.IsUserLoggedInAsync())
            {
                Navigation.NavigateTo("/", true);
            }
            else
            {
                await OpenIddictService.LogoutAsync();
                Navigation.NavigateTo("/login", true);
            }
        }
        else
        {
            Navigation.NavigateTo("/login", true);
            isVisible = true;
        }
    }
}
