@page "/forgot"

<div class="container">
    <div class="row">
        <img src="images/llogo.png" height="250px" width="250px" alt="My Image" />
        <div class="col-md-4 offset-md-4">

            <h2>Parolanı Sıfırla</h2>
            <div class="form-group">
                <p>Lütfen e-posta adresini gir. Hesabına tekrar erişmen için sana bir bağlantı göndereceğiz.</p>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">E-posta</label>
                    <input type="email" id="email" class="form-control"/>
                </div>
                <button type="button" class="btn btn-secondary">Bağlantı Gönder</button>
            </form>
        </div>
    </div>
</div>