@page "/user"

@using Microsoft.Extensions.Options
@using Volo.Abp.Http.Client
@using Volo.Abp.Identity
@using Volo.Abp.Application.Dtos
@using Volo.Abp.Users
@using Kampuste.Maui.Services.OpenIddict
@inject NavigationManager Navigation
@inject ICurrentUser CurrentUser
@inject IOpenIddictService OpenIddictService

<h3>User Info</h3>

@if (isAuthenticated)
{
    <div>basarili aq</div>
}
else
{
    <div>Logging out...</div>
}

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = CurrentUser.IsAuthenticated;

        if (!isAuthenticated)
        {
            await OpenIddictService.LogoutAsync();
            // Redirect to the login page or home page after logout
            Navigation.NavigateTo("/", true);
        }
    }
}
