@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="content">
    <div class="main">
        @Body
    </div>
</div>

@if (ShowNavMenu)
{
    <footer class="footer">
        <NavMenu />
    </footer>
}

@code 
{
    private bool ShowNavMenu;

    protected override void OnParametersSet()
    {
        var showNavMenuPages = new List<string> { "/akis", "/profil", "/"};
        var currentUri = Navigation.Uri.ToLower();
        ShowNavMenu = showNavMenuPages.Any(page => currentUri.EndsWith(page));
    }
}
