@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JS


    <div class="content">
        <div class="main">
        @Body
        

   @if (ShowNavMenu)
   {
    <footer class="footer">
        <NavMenu />
    </footer>
   }

   </div>
</div>

@code 
{
    private bool ShowNavMenu;

    protected override void OnParametersSet()
    {
        var showNavMenuPages = new List<string> { "/akis", "/profil", "/"};
        var currentUri = Navigation.Uri.ToLower();
        ShowNavMenu = showNavMenuPages.Any(page => currentUri.EndsWith(page));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("adjustContentHeight");
        }
    }
}
