@page "/signup"

<div class="container">
    <div class="row">
        <img src="images/llogo.png" height="250px" width="250px" alt="My Image" />
        <div class="col-md-4 offset-md-4">

            <h2>Hoşgeldiniz</h2>
            <form>
                <div class="form-group">
                    <label for="name">Ad Soyad</label>
                    <input id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">E-posta</label>
                    <input type="email" id="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Şifre</label>
                    <input type="password" id="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="rep-password">Tekrar Şifre</label>
                    <input type="password" id="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="number">Telefon</label>
                    <input type="tel" id="number" class="form-control" />
                </div>
                <button type="button" class="btn btn-secondary" >Kayıt Ol</button>
            </form>
        </div>
    </div>
</div>